@import "../../scss/utils/variables";

.section-cta {
  padding: 3rem 1.5rem;
  background-image: linear-gradient(to bottom, $color-white,$color-primary,$color-white );
}

.cta-card {
  background-color: $color-white;
  padding: 1.5rem;
  display: grid;
  gap: 1rem;
  margin-inline: auto;
}

.btn {
  margin-inline: auto;
  width: 10rem;
}

@media (min-width: 1200px) {
  .cta-card {
    width: 40%;
  }
}
