@import "../../scss/utils/variables";

.section-cta {
    padding: 3rem 1.5rem;
    background-color: $color-primary;
}


.cta-card{
    background-color: $color-white;
    padding: 1.5rem;
    display: grid;
    gap: 1rem;
}