@import "../../scss/utils/variables";

.section-services{
    text-align: center;
    padding: 0 1.5rem;
    margin-inline: auto;
    &-img{
        width: 10rem;
        margin-inline: auto;
        &__heading{
            color: $color-tertiary;
            font-size: 1.4rem;
        }
    }
    &__area{
        display: grid;
        gap: 6rem;
        margin-top: 2.5rem;
        &--item{
            display: grid;
            gap: .8rem;
        }
        &--figure{
            display: grid;
            gap: .75rem;
        }
    }
}

.btn{
    margin-inline: auto;
    margin-top: .75rem;
    background-color: $color-tertiary;
    color: $color-white;
    padding: .5rem 1.5rem;
    width: 50%;
    box-shadow: 0 1px 16px $color-tertiary;
    transition: box-shadow 400ms, background-color 400ms;
    &:active{
        box-shadow: none;
        transform: translateY(.1rem);
    }
    &:hover{
        background-color: $color-tertiary-dark;
    }
}
@media (min-width: 470px) {
    .btn{
        width: 30%;
    }
}


@media (min-width: 660px) {
    .section-services{
        padding: 3rem 2.5rem;
    }
    .btn{
        width: 20%;
    }
}
@media (min-width: 1200px) {
    .section-services{
        padding: 7.5rem 3rem;
        &__area{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .btn{
        width: 40%;
    }
}