@import '../utils/variables';
.btn{
    background-color: $color-tertiary;
    color: $color-white;
    padding: .5rem 1rem;
    box-shadow: 0 1px 16px $color-tertiary;
    transition: box-shadow 400ms, background-color 400ms;
    &:active{
        box-shadow: none;
        transform: translateY(.1rem);
    }
    &:hover{
        background-color: $color-tertiary-dark;
    }
}
