@import "../../../scss/utils/variables";

.hero {
  color: $color-primary-light !important;
  background-image: linear-gradient(
      rgba($color-black, 0.75),
      rgba($color-black, 0.75)
    ),
    url("/performance.webp");
  background-size: cover;
}
