@import './scss/utils/variables';
a{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
body{
    color: $color-secondary;
    font-size: $fs-300;
}

*:focus{
    outline: 2px solid $color-primary;
}
