@import "./scss/utils/variables";
a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
body {
  color: $color-secondary-light;
  font-size: $fs-300;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  max-width: 120rem;
  padding-inline: 1.5rem;
  margin-inline: auto;
}
*:focus {
  outline: 2px solid $color-primary;
}
html::-webkit-scrollbar {
  width: 0.25rem;
}

html::-webkit-scrollbar-track {
  background: #17191f;
}

html::-webkit-scrollbar-thumb {
  background: #3d3f44;
  border-radius: 10px;
}
@media (min-width: 470px) {
  p {
    font-size: $fs-400;
  }
}
@media (min-width: 1200px) {
  section {
    padding-inline: 6rem;
  }
}
