@import './scss/utils/variables';
a{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
body{
    color: $color-secondary;
    font-size: $fs-300;
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

*:focus{
    outline: 2px solid $color-primary;
}

@media (min-width: 470px) {
    p{
        font-size: $fs-400;
    }
}
@media (min-width: 1200px) {

}