@import '../../scss/utils/variables';

.header{
    position: relative;
    height: 100vh;
    color: $color-secondary;
    background-color: $color-primary-light;
    z-index: 2;
    margin-bottom: 8rem;
}

