@import '../../scss/utils/variables';

.hero{
    text-align: center;
    display: grid;
    margin-top: 8.25rem;
    &-img{
        width: 18rem;
       }

       &__text-area{
        margin-top: 2.75rem;
       }
}
p{
    font-family: 'Cera', sans-serif;
    font-weight: normal;
}