@import '../../scss/utils/variables';

.hero{
    text-align: center;
    display: grid;
    margin-top: 3.5rem;
    width: 100%;

    &-img{
        width: 15rem;
        margin-inline: auto;

       }

       &__text-area{
        margin-top: 1rem;
       }
}
p{
    font-family: 'Cera', sans-serif;
    font-weight: normal;
}