@import '../../../scss/utils/variables';
.select{
    border: 1px solid $color-secondary-light;
    padding: .5rem 1rem;
    color: $color-secondary;
    width: 100%;
}
.add{
    display: grid;
    column-gap: 6rem;
    row-gap: 2rem;
    align-items: center;
    align-content: flex-start;
    justify-content: flex-start;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 6rem;
    padding-inline: 8rem;
}

.btn{
    cursor: pointer;
    padding: .5rem 1rem;
    border: none;
    background-color: $color-secondary;
    color: $color-primary-light;
    margin-inline: auto;
    width: 50%;
    &:hover{
        background-color: $color-secondary-light;
    }
    grid-column: 2/3;
}
.input{
    padding: .25rem 1rem;
    width: 100%;
}