@import "../../../scss/utils/variables";

.layout {
  display: grid;
  grid-template-columns: 1fr 7fr;
  height: 100vh;
}

.main {
  padding: 1.5rem 5rem;
  &-top {
  }
}

.email {
  text-align: right;
}
.btn {
  cursor: pointer;
  border: none;
  background-color: $color-tertiary;
  color: $color-primary-light;
  margin-left: auto;
  padding: 0.5rem 1rem;
  &:hover {
    background-color: $color-tertiary-dark;
  }
}
.img {
  width: 3.6rem;
  height: 3.6rem;
  justify-self: end;
}

.dropdown {
  opacity: 0;
  position: absolute;
  right: 1.5%;
  top: 10%;
  background-color: #f9f9f9;
  padding: 1.5rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s ease-in-out;
  display: grid;
  gap: 1rem;
  text-align: left;
}

.menu {
  display: grid;
  gap: 0;
}
.menu:hover > .dropdown {
  opacity: 1;
}
