@import '../../../scss/utils/variables';

.nav{
    &-heading{
        font-family: "Cera-bold", sans-serif;
        text-transform: uppercase;
        font-size: $fs-500;
        letter-spacing: 1px;
        z-index: 5;
    }
}
.header{
    display: flex;
    justify-content: space-between;
}