@import './variables';

.heading-secondary{
    color: $color-secondary;
    font-size: $fs-700;
    line-height: 1.1;
    margin-top: .5rem;
}

.heading-tertiary{
    color: $color-primary-dark;
    font-size: $fs-200;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.heading-primary{
    color: $color-secondary;
    line-height: 1.2;
    font-size: $fs-700;
}
.heading-secondary, .heading-tertiary{
    font-family: 'Cera-bold', sans-serif;
    text-align: left;
}


@media (min-width: 470px) {
    .heading-secondary{
        font-size: $fs-700;
    }
    .heading-tertiary{
        font-size: $fs-300;
    }
    .heading-primary{
        font-size: $fs-700;
    }
}

@media (min-width: 1200px) {
    .heading-secondary{
        font-size: $fs-800;
    }
    .heading-tertiary{
        font-size: $fs-400;
    }
    .heading-primary{
        font-size: $fs-900;
    }
}